*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

a{
    cursor: pointer;
    text-decoration: none;
    color:#6d567f;
    font-weight: bold;
    transition: 0.4s;
}

a:hover{
    font-size: 1.1em;
    color:#637730;
}
.calculadora > div{
    width: 100%;
    padding: 20px;
    font-size: 1.15em;
    justify-content: center;
    align-self: center;
}
.top {
    position: sticky;
    top: 10px;
}
input{
    border-radius: 10px;
    width: 100%;
    align-self: flex-start;
    padding: 5px 8px;

}
label{
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    
}

ul{
    margin: 0px ;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 1vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
    background-color: white;
    transition: 0.2s;
    overflow: visible;
}
.calculadora{
    display: inline-block;
    height: 80%;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5px;
}
#entradaDatos{

}
.calculadoraButton{
    border: none;
    border-radius: 9px;
    background-color: #CA8F82;
    font-size: 1.2em;

}
.calculadoraButton:hover{
    background-color: #AA8154;
    font-size: 1.25em;
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.12);
}
.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
}
.cabecera2 {
    display: flex;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 25vw;
    background-color: rgba(255, 235, 205, 0.68);
    justify-content: center;
    


}
.header2{
    display: flex;
    justify-content: center;
}

#enlaces {
    display: flex;
    align-self: flex-start;

}

.botones {
    width: 27%;
    text-align: center;
    align-self: center;
}

.sep {
    background-color: black;
    width: 3px;
}

.contenedorRounded {
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255, 235, 205, 0.68);
    padding: 10px;
    width: 24%;
    border-style: solid;
}

.contenedorRounded2 {

    border-radius: 25px;
    background-color: rgba(255, 235, 205, 0.68);
    padding: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 20px;
    min-width: 29%;
    max-width: 49%;
    border-style: solid;
}

#divisor {
    padding-bottom: 9vh;
}

.colorFondo {
    background-color: rgba(255, 235, 205, 0.68);
}

.textoPegadoIzquierda {
    box-sizing: border-box;
    text-align: start;
    overflow:visible;
}

.body {
    background: url(./Imagenes/84248.png) no-repeat center fixed;
    background-size: cover;
    font-size: 1vw;
}
.body2 {
    background: url(./Imagenes/2435550.png) no-repeat center fixed;
    background-size: cover;

    font-size: 1vw;
}
h4{
    margin-top: 20px;
    margin-bottom: 5px;
}


.cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.cont2{
    width: 100%;
    margin: 0px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-evenly;
    padding-top: 25px;
}

.letra2{
    text-align: center;
    font-size: 1.4vw;
    margin-bottom: 5px;
}
.imagenes1{
    align-items: flex-start;
    height: 80%; 
    width: 80%; 
    object-fit: contain;
}
#autor{
    border-radius: 35px;
    border-style: solid;
    font-size:  0.8vw;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    background-color: rgba(255, 235, 205, 0.68);
    bottom: 0.5%;
    position: fixed;
}
#autor2{
    margin: 0px;
    align-self: center;
}
#au{
    color: rgb(44, 29, 212);
}
.centrado{
    text-align:start;
}